body{
    background-image: url(/Gambar/LatarGame.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
button{
    width: 20vh;
    height: 5vh;
    border-radius: 15px;
    border: none;
    background-color: #f6be71;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
button:hover{
    background-color: #f4ae4c;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transform: translatey(2px);
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #f6be71;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    margin: auto;
}
.card{
    background-color: rgba(110, 105, 98, 0.49);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 20px;
}


/* Buat Game */
.taco {
    position: absolute; 
    top: 0px;
    left: 100px; 
    width: 50px;
    height: 50px;
    display: none;
}
.bom {
    position: absolute; 
    top: 0px;
    left: 100px; 
    width: 50px;
    height: 50px;
    display: none;
}


.player {
    width: 70px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.container_game{
    display: flex;
    flex-direction: column; 
    height: 100vh;
    align-items: center;
}
.tempat_main{
    background-color: rgba(134, 129, 129, 0.462);
    height: 820px;
    width: 100vh;
    border: 1px solid rgb(147, 78, 78);
}
img{
    width: 80px;
    height: 80px;
}
.score{
    color: white;
    font-size: 20px;
}
.darah{
    color: white;
    font-size: 20px;
}
.kalah{
    display: none;
    text-align: center;
    margin-top: 20vh;
}

