@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    background-color: #f8d9c0;
    margin: 0px;
    font-family: "Playfair Display", serif;
    
}
/* ----- text text kayak h1-6, p, span dll ----- */
h1{
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 100px;
    color: #b26f18;

}
h2{
    font-family: "Libre Baskerville", serif;
    color: #fcb419;
}
h3{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: #f8d9c0;
    font-size: 20px;
}
/* ----- text text kayak h1-6, p, span dll (Selesai) ----- */
.judul-animasi{
    margin-top: 190px;
}
.judul-animasiMeksiko{
    margin-top: 15px;
}
.hilangin{
    color: #66666600;
}

.kata_kata{
    text-align: center;
    font-size: 60px;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo1{
    width: 200px;
    height: 200px;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
    background-image: url(Gambar/awalan.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 730px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.itemHeader{
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#samain{
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: #b26f18;
    border-radius: 20px;
    border-radius: 12px;
    background-color: #f8d9c0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.5s ease;
}
.cardHeader1{
    transform: rotate(-5deg) translateY(20px);
    background-image: url(Gambar-Food/gambar.burrito.jpg);
    background-size: cover;
}
.cardHeader1:hover{
    transform: rotate(5deg) translateY(150px);
}
.cardHeader2{
    background-image: url(Gambar-Food/gambar.mole.jpg);
    background-size: cover;
}
.cardHeader2:hover{
    transform: rotate(-10deg) translateY(-110px);
}
.cardHeader3{
    background-image: url(Gambar-Food/gambar.fajitas.jpg);
    background-size: cover;
    transform: rotate(9deg) translateY(20px);
}
.cardHeader33{
    background-image: url(Gambar-Food/gambar.quesadilla.jpg);
    background-size: cover;
    transform: rotate(-9deg) translateY(20px);
}
.cardHeader33:hover{
    transform: rotate(-20deg) translateY(160px);
}
.cardHeader22{
    background-image: url(Gambar-Food/gambar.pozole.jpg);
    background-size: cover;
}
.cardHeader22:hover{
    transform: rotate(10deg) translateY(-110px);
}
.cardHeader11{
    background-image: url(Gambar-Food/gambar.enchilada.jpg);
    background-size: cover;
    transform: rotate(5deg) translateY(20px);
}

.header h1{
    text-shadow: 9px 2px 4px rgba(255, 255, 255, 0.599);
    transition: all 0.3s ease-in;
}
.header h1:hover{
    text-shadow: 9px 2px 4px rgba(0, 0, 0, 0.599);
}

/* ==== NAVBAR STYLES ==== */
.nav {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #f8d9c000;
    padding-top: 0px;
    transition: 0.4s ease-in-out;
}
.nav.scrolled {
    background-color: #f8d9c0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.listNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navtengah{
    display: flex;
    align-items: center;
    gap: 35px;
}

.navtengah li a {
    text-decoration: none;
    color: #f06b04;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    transition:  0.3s;
    font-size: 20px;
}
.navtengah li a:hover{
    color: #757575;
}
.main{
    background-color: #fedcc8;
    background-image: url(Gambar/utama.png);
    background-size: 1520px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    overflow: hidden;
}
.isi{
    display: flex;
    flex-direction: row;
    background-color: #f06a0400;
    justify-content: space-around;
}
.isiKiri{
    width: 750px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    text-align: justify;
}
.isiKiri h2{
    text-align: center;
    color: black;
    font-size: 35px;
    text-shadow: 1px -3px 4px rgba(255, 255, 255, 0.5);
}
.sumber{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px dashed #ac854f;
    border-radius: 15px;
    height: 150px;
    justify-content: center;
    padding-top: 10px;
}
.isiKanan{
    /* Nama bangunannya Chichén Itzá */
    background-image: url(Gambar/sejarah.png); 
    background-size: cover;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    margin: 60px 20px 20px 20px;
}
.info1{
    background-color: #f8efd2;
    border-radius: 20px;
    padding: 20px;
    border-left: 5px solid black;
    margin-bottom: 5px;
}
button{
    cursor: pointer;
    background-color: #811e17;
    color: white;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    border: none;
    font-size: 15px;
}
.card-container {
    display: flex;
    gap: 25px;
    padding: 20px;
}

.card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    background-color: #f7f1e0e9;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 9px 20px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease-out;
    height: 550px;
}
.card:hover {
    transform: translateY(-15px);
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    color: #f8b936;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 30px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content h3 {
    color: #666;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}

.card-content p {
    color: #521a03;
    margin-bottom: 30px;
    font-size: 16px;
}
iframe{
    width: 300px;
    height: 250px;
}
#geser{
    background-color: #f6be71;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
#geser:hover{
    background-color: #c74303;
    color: white;
    top: 4px;
}

.card-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.location-link {
    background-color: #fbe2a9;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.location-link:hover {
    background-color: #f6be71;
}


/* Bagian bukan struktur web */
.taco3d{
    height: 70px;
    width: 70px;
}

.footer {
    height: 500px;
    background-color: #9f4509;
    color: #f9ba33;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
}
.container_footer div{
    padding: 30px;
    text-align: left;
}
.container_footer .grid-item1{
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}
.form {
    font-family: 'Montserrat', sans-serif;
    width: 600px;
    margin: 50px auto;
    padding: 25px;
    background-color: #fff3e0;
    border: 2px solid #f8d9c0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.form h2 {
    text-align: center;
    color: #9f4509;
    margin-bottom: 20px;
}

.saran {
    display: flex;
    flex-direction: column;
}

.saran label {
    margin-top: 20px;
    font-weight: bold;
    color: #5d3200;
}

.saran input,.saran select,.saran textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1.5px solid #f2b47e;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
    background-color: #fffdf9;
}

.saran textarea {
    resize: vertical;
    height: 100px;
}

.saran button {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9ba33;
    border: none;
    border-radius: 8px;
    color: #5d3200;
    transition:0.2s ease-in-out;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.saran button:hover {
    background-color: #e09e21;
}

/* Untuk Animasi Judul Kuliner Meksiko */
@keyframes hurufMasuk {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ------- Kalau jadi hp ------- */
@media (max-width: 600px) {
    .header{
        height: 350px;
        width: 412px;
    }
    #samain{
        width: 20px;
        margin-right: 100px;
    }
    .cardHeader1,.cardHeader2,.cardHeader3{
        margin-left: 190px;
    }
    .isi{
        flex-direction: column;
    }
    .isiKiri{
        width: 340px;
    }
    .isiKanan{
        width: 340px;
    }
    .sumber{
        height: 250px;
    }
    h1{
        width: 412px;
        font-size: 55px;
    }
    a{
        font-family:Georgia, 'Times New Roman', Times, serif ;
    }
    .judul-animasi{
        margin-top: 65px;
    }
    .card{
        height: 65vh;
    }
    .nav {
        position: fixed;
        top: 93%;
        flex-direction: row;
        height: 70px;
    }
    .listIlang{
        display: none;
    }
    .navtengah{
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 30px;
        height: 70px;
    }
    .footer{
        height: 1200px;
    }
    .container_footer {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(3, auto); 
    }
    .container_footer div{
        text-align: center;
    }
    .container_footer .grid-item1{
        text-align: center;
    }
    .container_footer .grid-item2{
        text-align: left;
        margin-left: 30px;
    }
    .form {
        width: 350px;
        padding: 20px;
        margin: 100px 0px 0px 10px;
    }

    .saran input,.saran select,.saran textarea {
        font-size: 16px;
    }

    .saran button {
        font-size: 16px;
        padding: 12px;
    }
}

/* ------- Kalau jadi hp (Selesai) ------- */
